.error-popup {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FBCCCB;
    padding: 12px 25px;
    border-radius: 8px;
}

.error-popup p {
    margin: 0;
    font: 500 16px/1.2 "Roboto";
    color: #191919;
}